In [1]:
print("Hi, Priya!")

Hi, Priya!

In [2]:
name = input("Enter your name: ")
print("Hi, " + name + "!")

Enter your name: Priti
Hi, Priti!

In [3]:
x = 10
if x > 5:
    print("x is greater than 5")
else:
    print("x is less than or equal to 5")
    
#IF STATEMENT

x is greater than 5

In [4]:
i = 1
while i <= 5:
    print(i)
    i = i + 1
#WHILE LOOP

1
2
3
4
5

In [6]:
# FLOAT
# Declaring a float variable
x = 3.14

# Printing the value of x
print(x)

# Performing arithmetic operations on floats
y = 2.5
z = x * y
print(z)

3.14
7.8500000000000005

In [5]:
#INTEGER
# Declaring an integer variable
x = 5

# Printing the value of x
print(x)

# Performing arithmetic operations on integers
y = 10
z = x + y
print(z)

5
15

In [19]:
# Declaring a string variable
x = "Hello, World!"

# Printing the value of x
print(x)

# Accessing characters in a string
print(x[0])  # Prints 'H'
print(x[7])  # Prints 'W'

# Concatenating strings
y = "My name is"
z = y + " Priya"
print(z)

Hello, World!
H
W
My name is Priya

In [8]:
# Declaring a boolean variable
x = True

# Printing the value of x
print(x)

# Using boolean operators
y = False
print(x and y)  # Prints 'False'
print(x or y)  # Prints 'True'

True
False
True

In [9]:
# Declaring a list variable
x = [1, 2, 3, 4, 5]

# Printing the value of x
print(x)

# Accessing elements in a list
print(x[0])  # Prints '1'
print(x[3])  # Prints '4'

# Modifying elements in a list
x[2] = 10
print(x)  # Prints '[1, 2, 10, 4, 5]'

# Appending elements to a list
x.append(6)
print(x)  # Prints '[1, 2, 10, 4, 5, 6]'

[1, 2, 3, 4, 5]
1
4
[1, 2, 10, 4, 5]
[1, 2, 10, 4, 5, 6]

In [10]:
#Mutability refers to the ability of an object to be changed or modified after it has been created. 
#In Python, mutable objects can have their values modified after they are created, while immutable objects cannot.
# Creating a list of integers
my_list = [1, 2, 3, 4, 5]

# Modifying the list in place
my_list.append(6)
my_list.remove(2)

# Printing the modified list
print(my_list)   # Output: [1, 3, 4, 5, 6]

[1, 3, 4, 5, 6]

In [11]:
# Creating a dictionary of key-value pairs
my_dict = {'apple': 3, 'banana': 2, 'orange': 4}

# Modifying the dictionary in place
my_dict['apple'] = 5
my_dict.pop('orange')

# Printing the modified dictionary
print(my_dict)   # Output: {'apple': 5, 'banana': 2}

{'apple': 5, 'banana': 2}

In [12]:
# Creating a set of unique elements
my_set = {1, 2, 3, 4, 5}

# Modifying the set in place
my_set.add(6)
my_set.remove(2)

# Printing the modified set
print(my_set)   # Output: {1, 3, 4, 5, 6}

{1, 3, 4, 5, 6}

7

In [17]:
# Creating a string variable
my_str = 'hello world'

# Trying to modify the string (which will fail)
my_str += '!'
my_str[0] = 'H'


# Printing the original string value
print(my_str)   # Output: 'hello world'

TypeError: 'str' object does not support item assignment

In [16]:
# Creating a tuple of elements
my_tuple = (1, 2, 3, 4, 5)

# Trying to modify the tuple (which will fail)
my_tuple += (6,)
my_tuple[0] = 0

# Printing the original tuple value
print(my_tuple)   # Output: (1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

In [20]:
#List
#A list is a built-in data structure that stores a collection of values in a specific order.
#LEN
my_list = [1, 2, 3, 4, 5]
print(len(my_list))  # Output: 5

5

In [21]:
my_list = [1, 2, 3, 4, 5]
my_list.append(6)
print(my_list)  # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [22]:
my_list = [1, 2, 3, 4, 5]
my_list.insert(2, "new")
print(my_list)  # Output: [1, 2, 'new', 3, 4, 5]

[1, 2, 'new', 3, 4, 5]

In [23]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)  # Output: [1, 2, 4, 5]

[1, 2, 4, 5]

In [24]:
my_list = [1, 2, 3, 4, 5]
popped_element = my_list.pop(2)
print(popped_element)  # Output: 3
print(my_list)  # Output: [1, 2, 4, 5]

3
[1, 2, 4, 5]

In [25]:
my_list = [1, 2, 3, 4, 5]
print(my_list.index(3))  # Output: 2

2

In [26]:
my_list = [1, 2, 3, 4, 5, 2]
print(my_list.count(2))  # Output: 2

2

In [27]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
my_list.sort()
print(my_list)  # Output: [1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]

[1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]

In [28]:
my_list = [1, 2, 3, 4, 5]
my_list.reverse()
print(my_list)  # Output: [5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]

In [29]:
my_list = [1, 2, 3, 4, 5]
new_list = my_list.copy()
print(new_list)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [41]:
# Create a list of lists to store the marks of each student for each subject
marks = [[85, 90, 80, 95, 92],   # Subject 1 marks for all students
         [70, 80, 75, 65, 80],   # Subject 2 marks for all students
         [95, 85, 90, 92, 88],   # Subject 3 marks for all students
         [60, 75, 80, 70, 68],   # Subject 4 marks for all students
         [88, 92, 95, 90, 85]]   # Subject 5 marks for all students

# Create empty lists to store the total marks and percentage of each student
total_marks = []
percentage = []

# Iterate over each student's marks and calculate the total and percentage
for i in range(len(marks[0])):
    student_marks = [marks[j][i] for j in range(len(marks))]  # Get marks of the i-th student for all subjects
    total = sum(student_marks)    # Calculate total marks
    total_marks.append(total)     # Add total marks to the total_marks list
    percent = (total / 500) * 100 # Calculate percentage
    percentage.append(percent)    # Add percentage to the percentage list

# Print the total marks and percentage of each student
for i in range(len(marks[0])):
    print(f"Student {i+1} Total Marks: {total_marks[i]}, Percentage: {percentage[i]}%")

Student 1 Total Marks: 398, Percentage: 79.60000000000001%
Student 2 Total Marks: 422, Percentage: 84.39999999999999%
Student 3 Total Marks: 420, Percentage: 84.0%
Student 4 Total Marks: 412, Percentage: 82.39999999999999%
Student 5 Total Marks: 413, Percentage: 82.6%

In [31]:
#Tuples
#In Python, a tuple is a built-in data structure that is similar to a list
#But with one key difference: tuples are immutable, meaning that once a tuple is created, its values cannot be changed.
#Creating a tuple
# empty tuple
my_tuple = ()

# tuple with values
my_tuple = (1, 2, 3)

In [32]:
#Accessing values in a tuple
my_tuple = (1, 2, 3)

# accessing a single value
print(my_tuple[0])

# accessing multiple values using slicing
print(my_tuple[1:3])

1
(2, 3)

In [43]:
#Tuple concatenation
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

tuple3 = tuple1 + tuple2+(2,1)
print(tuple3)

(1, 2, 3, 4, 5, 6, 2, 1)

In [34]:
#Tuple repetition
my_tuple = (1, 2, 3)

# repeat the tuple 3 times
new_tuple = my_tuple * 3
print(new_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [35]:
#Tuple length
my_tuple = (1, 2, 3)

# get the length of the tuple
print(len(my_tuple))

3

In [36]:
#Tuple membership
my_tuple = (1, 2, 3)

# check if a value is in the tuple
print(2 in my_tuple)

True

In [37]:
#Tuple iteration
my_tuple = (1, 2, 3)

# iterate over the values in the tuple
for value in my_tuple:
    print(value)

1
2
3

In [38]:
#Tuple unpacking
my_tuple = (1, 2, 3)

# unpack the tuple into separate variables
a, b, c = my_tuple

print(a)
print(b)
print(c)

1
2
3

In [39]:
#Tuple methods
my_tuple = (1, 2, 3)

# count the number of occurrences of a value
print(my_tuple.count(2))

# get the index of the first occurrence of a value
print(my_tuple.index(2))

1
1

In [44]:
# Define a tuple
my_tuple = (1, 2, 3, 4, 5)

# Convert the tuple to a list
my_list = list(my_tuple)

# Insert the item at index 2
my_list.insert(2, 10)

# Convert the list back to a tuple
new_tuple = tuple(my_list)

# Print the new tuple
print(new_tuple)   # Output: (1, 2, 10, 3, 4, 5)

(1, 2, 10, 3, 4, 5)

In [45]:
# Define a tuple
my_tuple = (1, 2, 3, 4, 5)

# Create a new tuple by concatenating slices of the original tuple
new_tuple = my_tuple[:2] + (10,) + my_tuple[2:]

# Print the new tuple
print(new_tuple)   # Output: (1, 2, 10, 3, 4, 5)

(1, 2, 10, 3, 4, 5)

In [46]:
# Define a tuple
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Get the 4th element from the end of the tuple using negative indexing
fourth_from_last = my_tuple[-4]

# Print the result
print(fourth_from_last)   # Output: 7

7

In [47]:
#Deleting an element from tuple
#Tuples are immutable
# Define a tuple
my_tuple = (1, 2, 3, 4, 5)

# Create a new tuple that excludes the item to be removed
new_tuple = tuple(item for item in my_tuple if item != 3)

# Print the new tuple
print(new_tuple)   # Output: (1, 2, 4, 5)

(1, 2, 4, 5)

In [1]:
# Define a variable
x = 5

# Using if-else statement
if x < 0:
    print("x is negative")
else:
    print("x is positive")

# Using if-elif-else statement
if x < 0:
    print("x is negative")
elif x == 0:
    print("x is zero")
else:
    print("x is positive")

x is positive
x is positive

In [2]:
# Loop through a list of numbers
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    print(num)

1
2
3
4
5

In [3]:
# Count down from 10 to 1
count = 10
while count > 0:
    print(count)
    count -= 1

10
9
8
7
6
5
4
3
2
1

In [4]:
# Built-in Functions
#Print-Already Demonstrated
#len-Already Demonstrated
#range
# Generate a sequence of numbers
numbers = range(1, 6)
for num in numbers:
    print(num)
#We store the sequence in a variable numbers
#Then use a for loop to iterate through each number in the sequence. We print each number to the console.

1
2
3
4
5

In [5]:
# Get user input from the console
name = input("What is your name? ")
print("Hello, " + name + "!")

What is your name? Anvesha
Hello, Anvesha!

In [6]:
#A dictionary is a built-in data structure in Python that stores a collection of key-value pairs.
# Create a dictionary of movie ratings
ratings = {"The Shawshank Redemption": 9.3, "The Godfather": 9.2, "The Dark Knight": 9.0}
print(ratings)

{'The Shawshank Redemption': 9.3, 'The Godfather': 9.2, 'The Dark Knight': 9.0}

In [7]:
# Access a value in a dictionary
ratings = {"The Shawshank Redemption": 9.3, "The Godfather": 9.2, "The Dark Knight": 9.0}
godfather_rating = ratings["The Godfather"]
print(godfather_rating)

9.2

In [8]:
# Add a key-value pair to a dictionary
ratings = {"The Shawshank Redemption": 9.3, "The Godfather": 9.2, "The Dark Knight": 9.0}
ratings["The Godfather: Part II"] = 9.0
print(ratings)

# Update a value in a dictionary
ratings["The Dark Knight"] = 9.5
print(ratings)

{'The Shawshank Redemption': 9.3, 'The Godfather': 9.2, 'The Dark Knight': 9.0, 'The Godfather: Part II': 9.0}
{'The Shawshank Redemption': 9.3, 'The Godfather': 9.2, 'The Dark Knight': 9.5, 'The Godfather: Part II': 9.0}

In [9]:
# Remove a key-value pair from a dictionary
ratings = {"The Shawshank Redemption": 9.3, "The Godfather": 9.2, "The Dark Knight": 9.0}
del ratings["The Dark Knight"]
print(ratings)

{'The Shawshank Redemption': 9.3, 'The Godfather': 9.2}

In [3]:
#FUNCTIONS
#A function is a block of code that performs a specific task and can be called or invoked from anywhere in the program.
def find_largest(numbers):
    largest = numbers[0]
    for num in numbers:
        if num > largest:
            largest = num
    return largest

numbers = [3, 7, 2, 8, 1]
result = find_largest(numbers)
print(result)

8

In [28]:
#FunctionToFindReverseOfAString
def reverse_string(string):
    return string[::-1]
string = "Tomato"
result = reverse_string(string)
print(result)

#The syntax for slicing is [start:end:step]. In this case, [::-1] 
#specifies a slice that starts from the end of the string and goes backwards by 1 step, effectively reversing the string.

otamoT

In [6]:
#Write a function to find the sum of all elements in a list.
def sum_list(lst):
    return sum(lst)
    
# Example usage
my_list = [1, 2, 3, 4, 89]
print(sum_list(my_list))

99

In [7]:
#Write a function to remove all duplicates from a list.
def remove_duplicates(lst):
    return list(set(lst))
    
# Example usage
my_list = [1, 2, 3, 1, 4, 2, 5]
print(remove_duplicates(my_list)) 

# removes any duplicates in the list by first converting it to a set 
#(which automatically removes duplicates since sets only contain unique values) and then converting it back to a list.

[1, 2, 3, 4, 5]

In [8]:
#Write a function to find the maximum value in a dictionary.
def max_value(dict):
    return max(dict.values())
    
# Example usage
my_dict = {'a': 10, 'b': 5, 'c': 20}
print(max_value(my_dict))

20

In [9]:
#Write a function to convert a list of integers to a binary string.
def int_to_binary_string(lst):
    return ''.join([bin(num)[2:] for num in lst])
    
# Example usage
my_list = [1, 2, 3, 4, 5]
print(int_to_binary_string(my_list)) 


#For each integer, it first calls the built-in bin function, 
#which returns the binary representation of the integer as a string prefixed with '0b'.
#The [2:] slice notation is used to remove the '0b' prefix from the binary string, leaving only the binary digits. 
#The resulting binary strings are then concatenated together using the join method called on an empty string ('').
#The resulting binary string is then returned.

11011100101

In [10]:
#Write a function to count the number of occurrences of a character in a string.
def count_char(string, char):
    return string.count(char)
    
# Example usage
my_string = "Topioca"
my_char = "o"
print(count_char(my_string, my_char))

2

In [11]:
#Write a function to sort a list of strings by their length.
def sort_by_length(lst):
    return sorted(lst, key=len)
    
# Example usage
my_list = ["apple", "banana", "cherry", "date"]
print(sort_by_length(my_list))

['date', 'apple', 'banana', 'cherry']

In [21]:
#Sets - In Python, a set is a collection of unique elements that are unordered and unindexed. 
#Elements in a set are not stored in a particular order, and elements with the same value are not duplicated.
#Creating a set
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [23]:
#Adding elements to a set
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

In [22]:
#Removing elements from a set
my_set = {1, 2, 3}
my_set.remove(2)
print(my_set)

{1, 3}

In [24]:
#Checking if an element is in a set:
my_set = {1, 2, 3}
print(2 in my_set) # Output: True
print(4 in my_set) # Output: False

True
False

In [25]:
#Set union:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [26]:
#Set intersection:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1.intersection(set2)
print(intersection_set)

{3}

In [27]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference_set = set1.difference(set2)
print(difference_set)

{1, 2}

In [12]:
#SETS & FUNCTIONS
def common_elements(set1, set2):
    return set1.intersection(set2)

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
common_set = common_elements(set1, set2)
print(common_set)

{4, 5}

In [13]:
def unique_elements(set1, set2):
    return set1.symmetric_difference(set2)

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
unique_set = unique_elements(set1, set2)
print(unique_set)

{1, 2, 3, 6, 7, 8}

In [14]:
#Write a Python function that takes two sets and returns True if one set is a subset of the other, otherwise returns False.
def is_subset(set1, set2):
    return set1.issubset(set2) or set2.issubset(set1)

set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
print(is_subset(set1, set2))

set3 = {4, 5, 6}
print(is_subset(set1, set3))

True
False

In [19]:
#Write a Python function that takes a set and returns a new set with the first and last element removed.
def remove_first_and_last(my_set):
    my_list = list(my_set)
    my_list.pop(0)
    my_list.pop(-1)
    return set(my_list)

my_set = {1, 2, 3, 4, 5}
new_set = remove_first_and_last(my_set)
print(new_set) # Output: {2, 3, 4}

{2, 3, 4}

In [9]:
#KEYWORDS
#Keywords in Python are reserved words that cannot be used as variable names, function names, or any other identifiers. 
#Python has 35 keywords as of version 3.10.
#Keywords are case-sensitive, so if, If, and IF are different keywords.

#We can check if a word is a keyword in Python by using the keyword module.

import keyword
keyword.iskeyword('if')  # True
keyword.iskeyword('hello')  # False

False

In [10]:
#False, None, True, and, as, assert, async, await, break, class, continue, def, del, elif, else,
#except, finally, for, from, global, if, import, in, is, lambda, nonlocal, not, or, pass, raise, return, try, while, with, yield
#for lop
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [11]:

#if statement
x = 10
if x > 5:
    print("x is greater than 5")

x is greater than 5

In [30]:
#WHILE
i = 3
while i <= 5:
    print(i)
    i += 1

3
4
5

In [13]:
#class definition
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def say_hello(self):
        print("Hello, my name is", self.name)

In [36]:
#try-except block:
try:
    x = int(input("Enter a number: "))
    y = 10 / x
except ZeroDivisionError:
    print("Cannot divide by zero")
    
except ValueError:
    print("Invalid input")
else:
    print("The result is:", y)
#finally: Used in a try-except block to specify code that should be executed no matter what.
finally:
    print("Done")

Enter a number: 4
The result is: 2.5
Done

In [32]:
# assert: Used for debugging purposes to check if a condition is true. 
#If the condition is false, an AssertionError is raised.
#assert a > 0, "a should be greater than 0"

#break: Used to break out of a loop.
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [17]:
#Special parameters are additional parameters that can be added to a function definition to modify the behavior of the function.
#There are three types of special parameters in Python:

#Default parameters:
#Default parameters are parameters that have a default value specified in the function definition. 
#If the parameter is not passed by the caller, the default value is used. 
def greet(name, greeting='Hello'):
    print(greeting, name)

greet('Avinash')  # Output: Hello Alice
greet('Anvesha', 'Hi')  # Output: Hi Bob

Hello Avinash
Hi Interns

In [19]:
#Variable-length parameters:
#Variable-length parameters allow a function to accept an arbitrary number of arguments. 
#There are two types of variable-length parameters in Python:

# *args: This parameter allows a function to accept a variable number of positional arguments.

def multiply(*args):
    result = 1
    for arg in args:
        result *= arg
    return result

print(multiply(2, 3, 4))  # Output: 24
print(multiply(5, 6))  # Output: 30

24
30

In [20]:
#Variable-length parameters:
#**kwargs: This parameter allows a function to accept a variable number of keyword arguments.

def print_info(**kwargs):
    for key, value in kwargs.items():
        print(key, value)

print_info(name='Alice', age=30, city='New York')  # Output: name Alice, age 30, city New York

name Alice
age 30
city New York

In [21]:
#Variable-length arguments with fixed arguments:
#This special parameter is a combination of fixed and variable-length arguments. 
#It allows a function to accept a fixed number of arguments, followed by a variable number of arguments.

def print_info(name, *args):
    print(name)
    for arg in args:
        print(arg)

print_info('Aliya', 30, 'New York') 

#These special parameters in Python functions can be very useful in different situations and 
#can help to make your code more flexible and reusable.

Aliya
30
New York

In [22]:
#Key-parameters
#The key parameter is used to specify a function of one argument to extract a comparison key from each element in an iterable. 
#This is useful when you want to sort or group elements based on a specific attribute.
students = [    {'name': 'Alice', 'age': 20},    {'name': 'Bob', 'age': 18},    {'name': 'Charlie', 'age': 22},]

sorted_students = sorted(students, key=lambda x: x['age'])
print(sorted_students)

[{'name': 'Bob', 'age': 18}, {'name': 'Alice', 'age': 20}, {'name': 'Charlie', 'age': 22}]

In [34]:
#sep and end parameters:
#The sep and end parameters are used in the print() function to specify the separator and ending characters respectively.

print('Aliya', 'Kareena', 'Kat', sep=' | ', end='\n')

Aliya | Kareena | Kat